/*
 *
 * MMM-SleepIQControl
 *
 * Buzz Kc
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
.platormButton {
	width: 250px;
	height: 150px;
	background-color: #0384fc;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	margin: 4px 2px;
	border-radius: 4px;
}

.sleeperdetails {
	font-size: 1em;
}

.sleepIQControlCell {
	width: 33%;
}